.DS_Store
.bundle

build/
DerivedData/

# Key files
GoogleService-Info.plist

# CocoaPods
Pods/

# Swift Package Manager
.build/

# Tuist
Derived

# Fastlane
fastlane/.env
fastlane/report.xml

# Others
*.xcodeproj/*
*.xcworkspace/*
*.pbxuser
*.xcworkspacedata
xcuserdata/
**/Configs/*.local.xcconfig
